@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*:before,
*:after {
 box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.slider {
	width: 1025px;
	margin: 0 auto;
}

.img-box {
	width: 100%;
}

.image {
	width: 100%;
}

.slick-dots li button {
	width: 30px;
	height: 30px;
}

/*header*/

.logo-svg {
	fill: #000;
}

.section-header {
	position: relative;
}

.container {
	max-width: 1025px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 250px;
}

.menu-link {
	color: #000;
	font-size: 20px;
	text-decoration: none;
	margin-left: 80px;
}

/*menu-burger*/ 

.menu-burger {
	width: 48px;
	height: 30px;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}

.menu-burger:before,
.menu-burger:after {
	content: "";
	display: block;
	width: 100%;
	height: 5px;
	background-color: #000;
	position: absolute;
	transition: all .3s;
}

.menu-burger:before {
	top: 0;
}

.menu-burger:after {
	bottom: 0;
}

.burger {
	width: 100%;
	height: 5px;
	background-color: #000;
	position: absolute;
	top: 13px;
	transition: all .3s;
	
}

/*burger js*/
.menu-burger.active:before {
	transform: rotate(45deg);
	top: 10px;
}

.menu-burger.active:after {
	transform: rotate(-45deg);
	bottom: 15px;
}

.menu-burger.active .burger {
	transform: scale(0);
}

/*всплывающая плашка*/
.drop-menu:before {
	content: "";
	display: block;
	width: 100%;
	height: 336px;
	background: black;
	z-index: 1;
	top: -336px;
	left: 0;
	position: absolute;
	transition: all .3s;
}

.drop-menu.active:before {
	top: -16px;
}

.menu-burger,
.header-logo,
.nav-menu {
	z-index: 3;
}

/*meadia*/

@media screen and (max-width: 1024px) {
	.header {
		min-height: 135px;
	}
	
	.nav-menu {
		display: none;
	}

	.header-logo {
		margin: auto;
	}

	.menu-burger {
		display: block;
		top: 50px;
	}

	/*active*/
	.header.active {
		flex-direction: column;
	}

	.menu-burger.active:before,
	.menu-burger.active:after,
	.menu-burger.active .burger {
		background-color: #fff;
	}

	.header.active .logo-svg {
		fill: #fff;
	}

	.header.active .nav-menu {
		display: block;
		z-index: 3;
		position: absolute;
		top: 176px;
	}

	.header.active .menu-link {
		color: #fff;
	}
}

@media screen and (max-width:375px) {
	.header {
		display: none;
	}

	.menu-burger {
		top: 40px;
		right: 20px;
	}

	.menu-burger:before,
	.menu-burger:after,
	.menu-burger .burger {
		background-color: #fff;
	}

	/*active*/
	.header.active {
		display: block;
		padding: 30px 0 0 20px;
	}

	.header.active .header-logo {
		position: absolute;
	}
	
	.header.active .nav-menu {
		top: 120px;
	}

	.header.active .menu-link {
		margin-left: 0;
		margin-top: 40px;
		display: block;
	}

	.header.active .menu-link:first-child {
		margin-top: 0;
	}
	
}